.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}

.container h3 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 140.62%;
	color: #333333;
}

.loginDiv {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 32px;
	background: #ffffff;
	border: 1px solid #e0e0e0;
	box-shadow: 1px 4px 40px 2px rgba(129, 129, 165, 0.07);
	border-radius: 10px;
	align-items: center;
	padding: 46px;
}

.loginDiv .progressBar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--grey-background);
	height: 7px;
	border-radius: 10px;
}

.loginDiv .progressBar .progress {
	width: 0%;
	background-color: #6d2bc1;
	height: 7px;
	border-radius: 10px;
	transition: 400ms ease-in-out;
}

.titleDiv {
	position: relative;
	display: flex;
	align-self: flex-start;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.titleDiv h5 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 155%;
	color: #000000;
}
.titleDiv .arrow {
	background-color: transparent;
	border: none;
	position: absolute;
	left: 0;
	top: 15%;
	cursor: pointer;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 85%;
	gap: 32px;
}

.form .inputDiv {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.form .inputDiv label {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 150%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #000000;
}

.form .inputDiv input {
	background: #ffffff;
	border: 1px solid #b3b3c9;
	border-radius: 4px;
	font-size: 16px;
	font-family: 'Inter';
	padding: 12px;
}

.form .inputDiv input:focus {
	outline: 2px solid #6d2bc1;
	border-color:  transparent;
}

.errorIcon {
	height: 15px;
	width: 15px;
	position: absolute;
	right: 16px;
	top: 42px;
}

.errorDiv {
	background: #fdf0f0;
	border-radius: 5px;
	padding: 16px;
	width: 100%;
}

.errorDiv p {
	text-align: left;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #eb5757;
	width: 100%;
}

.form button {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 0px;
	letter-spacing: 0.89px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #001b36;
	padding: 21px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #001b36;
	cursor: pointer;
}

.loginDiv > p {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 145%;
	text-align: center;
	color: #000000;
}

.loginDiv p button {
	font-size: 14px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	background-color: transparent;
	border: none;
	text-decoration: none;
	color: #6d2bc1;
	cursor: pointer;
}

@media only screen and (max-width: 460px) {
	.container {
		margin-top: 32px;
		gap: 12px;
	}
	.loginDiv {
		width: 100%;
		padding: 42px 24px;
		gap: 18px;
	}
	.loginDiv *:not(.progressBar, .progress) {
		transform: scale(0.97);
	}
	.form {
		margin-top: -15px;
		width: 100%;
		gap: 32px;
	}
	.loginDiv p,
	.loginDiv p button {
		font-size: 16px;
	}
}
